/* CSS-Code-Start */
/* header start */
.header{
    background-color: thistle;
}

/* Navigation Bar */
#nav-top{
    margin: 0;
    padding: 20px 0 20px 0;
}
.navbar .navbar-nav {
    padding: 0 2% 0 25%;
    margin: 0;
    display: flex;
    white-space: nowrap;
    position: relative;
}
.navbar .navbar-nav .nav-link{
    color: white;
    font-size: 17px;
    font-weight: 400;
    display: block;
    position: relative;
    margin: 0 15px 0 20px;
    font-family: "Roboto",sans-serif;
    left: -25px;
}
@media only screen and (max-width:992px){
    .navbar .navbar-nav .nav-link{
        margin: top;
        position: relative;
        margin-bottom: 10px;
        left: -310px;
        display: block;
    }
}
@media only screen and (max-width:768px){
    .navbar .navbar-nav .nav-link{
        margin: top;
        position: relative;
        margin-bottom: 10px;
        left: -230px;
        display: block;
    }
}
@media only screen and (max-width:600px){
    .navbar .navbar-nav .nav-link{
        margin: top;
        position: relative;
        margin-bottom: 10px;
        left: -230px;
        display: block;
    }
}
@media only screen and (max-width:576px){
    .navbar .navbar-nav .nav-link{
        margin: top;
        position: relative;
        margin-bottom: 10px;
        left: -230px;
        display: block;
    }
}
@media only screen and (max-width:500px){
    .navbar .navbar-nav .nav-link{
        margin: top;
        position: relative;
        margin-bottom: 10px;
        left: -210px;
        display: block;
    }
}
/* Navigation bar end */
.thumbnail{
    padding: 20px;
}
.title{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: darkgreen;
}
span{
    color: rgba(0, 0, 0, 0.863);
}
.button{
    margin-top: 10px;
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
}
.button img{
    padding: 5px;
}
/* header end */

h2{
    padding: 30px 0 40px 0;
}
.title-details{
    padding-top: 10px;
}
.jacket-1 img{
    width: 200px;
    margin-bottom: 25px;
}
.jacket-2 img{
    width: 270px;
    margin-bottom: 25px;
}
.jacket-3 img{
    width: 220px;
    margin-bottom: 25px;
}
span{
    color: yellowgreen;
}
#button{
    background-color: darkgreen;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 15px;
    margin-left: 40px;
    color: white;
}
#button img{
    width: 30px;
    padding: 5px;
}
#box-detail{
    box-sizing: border-box;
    box-shadow: 30px 30px 100px wheat;
}
.box-shadow{
    box-shadow: 10px 10px 40px gainsboro;
    border-radius: 10px;
    padding: 10px;
}
/* data-section */
.data{
    padding: 30px;
    
}
#img-shap{
    position: absolute;
    width: 80px;
}
#img-data{
    margin-left: 130px;
}
#img-para{
    margin-left: 130px;
}
#img-shap #img-data #img-para{
    background-color: gray;
}
.box-group{
    background-color: gray;
    box-shadow: 5px 5px 20px gray;
    margin-top: 10px;
    border-radius: 5px;
}
/* footer */
.footer-data{
    padding: 30px;
}
#footer{
    background-color: rgba(0, 0, 0, 0.712);
    padding-top: 80px;
    padding-bottom: 80px;
    color: white;
}
#footer a{
    text-decoration: none;
    color: white;
}
#footer-form{
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer-search-box{
    background-color: yellowgreen;
    color: white;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    left: 10px;
}
#footer-search-submit{
    background-color: #00bec9;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
    border: 0;
}
.social-icon{
    font-size: 30px;
    padding-left: 5px;
}
@media only screen and (max-width:1150px){
    #footer-search-box{
        max-width: 300px;
    }
}
@media only screen and (max-width: 768px){
#footer-search-box{
    max-width: 120px;
}
}
@media only screen and (max-width: 500px){
    #footer-search-box{
        max-width: 200px;
    }
}
#footer{
    padding-top: 10px;
}
#footer h4{
    padding-top: 50px;
}
/* The-end */